<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gener</th>
            <th scope="col">Score</th>
            <th scope="col">Group</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let each of studentScores">
            <th scope="row">{{each.id}}</th>
            <td>{{each.name}}</td>
            <td>{{each.gender}}</td>
            <td>{{each.score}}</td>
            <td>{{each.group}}</td>
        </tr>
    </tbody>
</table>

