@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#info:hover, #github:hover {
    color: rgb(43, 151, 119);
}

#github {
    color: black;
}

.modal {
    font-family: 'Roboto';
    font-size: 1.3rem;
}